# Uncomment if using dataproxy with MySQL database(s)
# MySQL-python==1.2.5

# Uncomment if using dataproxy with Microsoft SQL Server database(s)
# pymssql==2.1.3

# The PostgreSQL driver (psycopg2) is already installed with CKAN,
# so we do not need to require it again.

# Use simple-crypt to encrypt passwords
simple-crypt==4.1.7
